@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #36383d;
  background: #F6F6F6;
}

.wizard {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  padding: 108px 36px 36px;
  background: #fff;
  width: auto;
  min-height: 320px;
  transition: background-color .125s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.progress {
  &--bar {
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);

    &-text {
      text-align: center;
      font-size: 12px;
      line-height: 18px;
      color: #898f9d;
      text-transform: uppercase;
      background: #e4e7ec;
      padding: 5px 10px;
    }
  }
}

.form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  &-actions {
    text-align: right;
    border-top: 1px solid lightgrey;
    padding-top: 1em;
    margin-top: 2rem
  }

  label {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 15px;
  }

  .form-control {
    margin-top: 4px;
  }

  input[type="text"],
  textarea {
    width: 100% !important;

    appearance: none;
    font-size: 16px;
    line-height: 18px;
    height: 44px;
    color: #36383d;
    padding: 12px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #dbdbdb;
    border-radius: 6px;

    &:focus {
      border: 1px solid #6bd3fc;
      box-shadow: 0 1px 2px rgba(23, 149, 199, 0.72);
    }
  }
}

// header styling
.headerWrapper {
  width: 840px;
  margin: 0 auto;
  padding: 0 15px;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;


  .headerLists {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: #1e1666;
      padding: 10px 10px;
      font-weight: 600;
      font-size: 14px;
    }

    .gradient-btn {
      padding: 11px 35px 11px 35px;
      text-decoration: none;
      background-size: 200%;
      background-image: linear-gradient(to right, #cc2b5e 0%, #753a88 51%, #cc2b5e 100%);
      display: block;
      color: white;
      border-radius: 50px;
      margin-left: 1rem;
    }
  }

}

.select__input input {
  width: auto !important;
  height: auto !important;
  box-shadow: none !important;
}